# Supabase Configuration
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# PumpPortal API Configuration
VITE_PUMPPORTAL_API_KEY=enq2ymbnenunat3natb4cxv4ddhnjm2qet0pckbn5xp52gkj65bneghqchrpghkjacnmwx2nf97pjy29anhq6rv3c5gpwtvbadbmcj3rdtqk6t27enbk4naaaxpm6d3eahw7aka5ewykuehq3gxbtf13macjb8wrq8yb2drdt16mubc6557cp9p75a4awajdn548cj2dhkkuf8

# Alchemy API Configuration
VITE_ALCHEMY_API_KEY=X9uBsX1UdSNTtZf0en4rN